<ion-header>
  <ion-toolbar>
    <div class="logo" slot="start">
      <img
        src="https://mybatis.org/images/mybatis-logo.png"
        alt=""
        style="width: 100%"
      />
    </div>
    <ion-searchbar
      placeholder="search content"
      style="padding: 0"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <swiper [config]="config" [autoplay]="{delay: 1000}" class="my-swiper">
    <ng-template swiperSlide *ngFor="let item of userInfo,let i = index">
      <img
        src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fupload-images.jianshu.io%2Fupload_images%2F23729353-4803e87125724034.jpg&refer=http%3A%2F%2Fupload-images.jianshu.io&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1662274982&t=85453e709b11f557abf1126bc104d296"
        alt=""
      />
    </ng-template>
  </swiper>
  <ion-item>
    <ion-icon slot="start" name="desktop-outline"></ion-icon>
    <ion-label>首页推荐 / 1F</ion-label>
  </ion-item>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6" *ngFor="let item of userInfo">
        <ion-card>
          <img
            src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fupload-images.jianshu.io%2Fupload_images%2F23729353-4803e87125724034.jpg&refer=http%3A%2F%2Fupload-images.jianshu.io&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1662274982&t=85453e709b11f557abf1126bc104d296"
            alt=""
          />
          <ion-card-header>
            <ion-card-subtitle>{{ item.address }}</ion-card-subtitle>
            <ion-card-title>{{ item.name }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-label>¥{{ item.age }}</ion-label>
            <ion-button color="warning">查看详情</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item>
    <ion-icon slot="start" name="desktop-outline"></ion-icon>
    <ion-label>最新上架 / 2F</ion-label>
  </ion-item>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6" *ngFor="let item of userInfo">
        <ion-card>
          <img
            src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fupload-images.jianshu.io%2Fupload_images%2F23729353-4803e87125724034.jpg&refer=http%3A%2F%2Fupload-images.jianshu.io&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1662274982&t=85453e709b11f557abf1126bc104d296"
            alt=""
          />
          <ion-card-header>
            <ion-card-subtitle>{{ item.address }}</ion-card-subtitle>
            <ion-card-title>{{ item.name }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-label>¥{{ item.age }}</ion-label>
            <ion-button color="warning">查看详情</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item>
    <ion-icon slot="start" name="desktop-outline"></ion-icon>
    <ion-label>热销单品 / 3F</ion-label>
  </ion-item>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6" *ngFor="let item of userInfo">
        <ion-card>
          <img
            src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fupload-images.jianshu.io%2Fupload_images%2F23729353-4803e87125724034.jpg&refer=http%3A%2F%2Fupload-images.jianshu.io&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1662274982&t=85453e709b11f557abf1126bc104d296"
            alt=""
          />
          <ion-card-header>
            <ion-card-subtitle>{{ item.address }}</ion-card-subtitle>
            <ion-card-title>{{ item.name }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-label>¥{{ item.age }}</ion-label>
            <ion-button color="warning">查看详情</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid fixed>
    <ion-row>
      <ion-col style="text-align: center">
        <ion-icon
          name="sparkles-outline"
          color="primary"
          style="font-size: 3em"
        ></ion-icon>
      </ion-col>
      <ion-col style="text-align: center">
        <ion-icon
          name="pricetags-outline"
          color="primary"
          style="font-size: 3em"
        ></ion-icon>
      </ion-col>
      <ion-col style="text-align: center">
        <ion-icon
          name="cart-outline"
          color="primary"
          style="font-size: 3em"
        ></ion-icon>
      </ion-col>
      <ion-col style="text-align: center">
        <ion-icon
          name="pricetags-outline"
          color="primary"
          style="font-size: 3em"
        ></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
