.help-box{
    min-height: 100vh;
    background-color: #fff6fb;
    padding-bottom: 5vh;
}
@media (max-width: 767px) {
    .help-box{
        padding-bottom: 20px;
    }
}
.us-html{
    a{
        color: #0065cc;
        font-weight: 700;
        margin-top: 5px;
        text-decoration: underline;
        padding: 0 2px;
        font-size: 1.33rem;
        line-height: 1rem;
    }
    span{
        margin-bottom: 0px;
        text-align: left;
        color: rgb(126, 34, 92);
        font-size: 1.33rem;
        line-height: 1rem;
    }
}