.term-box .policies>p{
    margin: 16px 0;
    font-weight: 1.2rem;
}
.term-box .policies>h3{
    font-size: 1.33rem;
    font-weight: 700;
}
.term-box .policies b{
    font-size: 1.2rem;
    font-weight: 600;
}