.about-box{
    min-height: 100vh;
    background-color: #fff6fb;
}
.text-box{
    padding-top: 40px;
    width: 90%;
    margin: auto;
    text-align: center;
    .text-title{
        color: rgb(126, 34, 92);
        font-weight: bold;
        font-size: 20px;
        margin-top: 20px;
    }
    .text-deep{
        color: rgb(126, 34, 92);
        font-weight: bold;
        font-size: 16px;
    }
    .text-normal{
        color: rgb(126, 34, 92);
        font-weight: 500;
        font-size: 16px
    }
    .text-link{
        color: #0065cc;
        font-weight: 700;
        text-decoration: underline;
    }
}