.home-box{
  background-image: url('../../assets/images/Top.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 26vh;
}
.footer{
  background-image: url('../../assets/images/Bottom.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 20vh;
}
.tip-link{
  color: #0065cc;
  font-weight: 700;
  font-size: 0.9rem;
  text-decoration: underline;
}