.home-box{
  background-image: url('../../assets/images/Top.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 26vh;
}
.footer{
  background-image: url('../../assets/images/Bottom.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
}