.home-box{
  background-image: url('../../assets/images/Top.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 26vh;
}
.footer{
  background: url('../../assets/images/Bottom.png') bottom no-repeat;
  background-size: cover;
  height: 20vh;
  position: absolute;
  width: 100%;
  bottom: 0;
}
@media (max-width: #{768px}) {
  .footer{
    position: initial;
  }
}
.tip-link{
  color: #0065cc;
  font-weight: 700;
  font-size: 0.9rem;
  text-decoration: underline;
}